.login_page{
    width: 100%;
    height: 100vh;
    position: relative;
}

.login_page h2{
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: #363;
    position: absolute;
    top: calc(50% - 200px);
    text-shadow: 1px 1px 1px #010;
}

.login_modal{
    width: 300px;
    height: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    background: #585;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #010;
}

.login_modal h4{
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0px 10px 0px;
}

.login_modal input{
    width: 250px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
